<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>祝日</title>
  </head>

  <body>
    <h2>祝日設定</h2>
    <py:if test="tbl_chk">
      <form class="addnew" id="addcomponent" method="post" action="">
        <fieldset>
          <legend>祝日を追加します:</legend>
          <div class="field">
            <label>日付:<br /><input type="text" name="date" /></label>
          </div>
            <label>詳細:<br /><input type="text" name="description" /></label>
          <div class="buttons">
            <input type="submit" name="add" value="追加"/>
          </div>
        </fieldset>
      </form>

      <form id="holidays_table" method="post" action="">
        <table class="listing">
          <thead>
            <th class="sel">&nbsp;</th>
            <th>日付</th>
            <th>詳細</th>
          </thead>
          <tr py:for="m in holidays">
            <td class="sel"><input type="checkbox" name="sel" value="${m.get('date','')}" /></td>
            <td class="name">${m.get('date','')}</td>
            <td class="name">${m.get('description','')}</td>
          </tr>
        </table>
        <div class="buttons">
          <input type="submit" name="remove" value="${_('Remove selected items')}" />
        </div>
        <p class="help">
        </p>
      </form>
    </py:if>
    <py:if test= "not tbl_chk">
      <form class="addnew" id="addcomponent" method="post" action="">
        <fieldset>
          <legend>祝日を追加します:</legend>
          <div class="buttons">
            <input type="submit" name="create_table" value="テーブルを作成し、いくつかの祝日を設定します"/>
          </div>
        </fieldset>
      </form>
    </py:if>
  </body>
</html>
