<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>${_('Holidays')}</title>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        if ($.ui) {
          $('form.addnew input[name=date]').datepicker();
        }
      });
    </script>
  </head>

  <body>
    <h2>${_('Holiday Setting')}</h2>
    <py:if test="tbl_chk">
      <form class="addnew" method="post" action="">
        <fieldset>
          <legend>${_('Add Holiday')}<span/>:</legend>
          <div class="field">
            <label>${_('date')}<span/>:<br /><input type="text" name="date" /></label>
          </div>
            <label>${_('description')}<span/>:<br /><input type="text" name="description" /></label>
          <div class="buttons">
            <input type="submit" name="add" value="${_('submit')}"/>
          </div>
        </fieldset>
      </form>
      <form class="addnew" method="post" action="">
        <fieldset>
          <legend>${_('Drop table')}<span/>:</legend>
          <div class="buttons">
            <input type="submit" name="drop_table" value="${_('DROP holiday table.')}"/>
          </div>
        </fieldset>
      </form>

      <form id="holidays_table" method="post" action="">
        <table class="listing">
          <thead>
            <th class="sel">&nbsp;</th>
            <th>${_('date')}</th>
            <th>${_('description')}</th>
          </thead>
          <tr py:for="m in holidays">
            <td class="sel"><input type="checkbox" name="sel" value="${m.get('date','')}" /></td>
            <td class="name">${m.get('date','')}</td>
            <td class="name">${m.get('description','')}</td>
          </tr>
        </table>
        <div class="buttons">
          <input type="submit" name="remove" value="${_('Remove selected items')}" />
        </div>
        <p class="help">
        </p>
      </form>
    </py:if>
    <py:if test= "not tbl_chk">
      <form class="addnew"  method="post" action="">
        <fieldset>
          <legend>${_('Add Holiday')}<span/>:</legend>
          <div class="buttons">
            <input type="submit" name="create_table" value="${_('Create table and insert some holidays.')}"/>
          </div>
        </fieldset>
      </form>
    </py:if>
  </body>
</html>
